@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


@layer base {
  h1 {
    @apply text-2xl;
  }
}

/* Disabling the "on click" highlight color on mobile and removing outline for all devices*/
.logo-no-background-header{
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  margin-right: 1.5rem;
  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 768px) {
  .bm-burger-button{
    display: none;
  }
 }
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #E6B17E;
}

/* Color/shape of burger icon bars on hover*/
/* .bm-burger-bars-hover {
  background: #a90000;
} */

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  -webkit-tap-highlight-color: transparent;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
  transition: .25s !important;
}

/* General sidebar styles */
.bm-menu {
  background: #36454F;
  padding-top: 2rem;
  text-align: center;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding-top: 1rem;
  -webkit-tap-highlight-color: transparent;
}

.bm-item:hover{
  text-decoration: underline;
}

/* Removing the "on hover" underline effect from Sign up and Sign in buttons in the burger menu */
.burgerSignUpSignInBtns:hover{
  text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Footer colors */
.footerMainDiv{
  /* height:600px; */
  background: conic-gradient(#36454F 0deg 55deg, #41535F 55deg, 235deg, #36454F 235deg 360deg);
}

